### Data Analysis on Morning Exercise Data

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {
        'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv','Mittal','Archana'],
        'Marks':[98,89,99,87,90,83,99],
        'Gender':['Male','Female','Female','Male','Male','Female','Female']
        }
df=pd.DataFrame(data)
print(df)

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

### top 3 rows

In [4]:
print(df.head(3))

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female

### last 3 rows

In [5]:
print(df.tail(3))

      Name  Marks  Gender
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

### shape of dataset

In [7]:
print(df.shape)
print("rows",df.shape[0])
print("columns",df.shape[1])

(7, 3)
rows 7
columns 3

### Info

In [8]:
print("information ",df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes
information  None

### is any null ??

In [11]:
print(df.isnull().sum(axis = 0))

Name      0
Marks     0
Gender    0
dtype: int64

### overall statistics

In [12]:
print("overall statistics",df.describe(include="all"))

overall statistics            Name      Marks  Gender
count         7   7.000000       7
unique        7        NaN       2
top     Priyang        NaN  Female
freq          1        NaN       4
mean        NaN  92.142857     NaN
std         NaN   6.491753     NaN
min         NaN  83.000000     NaN
25%         NaN  88.000000     NaN
50%         NaN  90.000000     NaN
75%         NaN  98.500000     NaN
max         NaN  99.000000     NaN

### unique value in gender

In [18]:
print(df["Gender"].unique())
print(df["Gender"].nunique())
print(df["Gender"].value_counts())

['Male' 'Female']
2
Gender
Female    4
Male      3
Name: count, dtype: int64

In [27]:
smarks = df[(df["Marks"] >= 90) & (df["Marks"] <= 100)]
print(smarks)

print("using between method : ",sum(df["Marks"].between(90,100)))

      Name  Marks  Gender
0  Priyang     98    Male
2   Krisha     99  Female
4   Parshv     90    Male
6  Archana     99  Female
using between method :  4

In [28]:
print(df["Marks"].mean())

92.14285714285714

### avg marks using apply method

In [ ]:
def marks(x):
    return x/2

df["half_marks"] = df["Marks"].apply(marks)
print(df)

      Name  Marks  Gender  male_female  half_marks
0  Priyang     98    Male            1        49.0
1   Aadhya     89  Female            0        44.5
2   Krisha     99  Female            0        49.5
3   Vedant     87    Male            1        43.5
4   Parshv     90    Male            1        45.0
5   Mittal     83  Female            0        41.5
6  Archana     99  Female            0        49.5

### length using apply method

In [30]:
df["Name"].apply(len)

0    7
1    6
2    6
3    6
4    6
5    6
6    7
Name: Name, dtype: int64

### map function --> convert male to 1 and female to 0

In [32]:
df["male_female"] = df["Gender"].map({"Male":1,"Female":0})
print(df)

      Name  Marks  Gender  male_female
0  Priyang     98    Male            1
1   Aadhya     89  Female            0
2   Krisha     99  Female            0
3   Vedant     87    Male            1
4   Parshv     90    Male            1
5   Mittal     83  Female            0
6  Archana     99  Female            0

In [39]:
# df
print(df.drop("half_marks",axis = 1, inplace=True))

None

### display all column name

In [40]:
print(df.columns)

Index(['Name', 'Marks', 'Gender', 'male_female'], dtype='object')

### sort df as per marks

In [41]:
print(df.sort_values("Marks"))

      Name  Marks  Gender  male_female
5   Mittal     83  Female            0
3   Vedant     87    Male            1
1   Aadhya     89  Female            0
4   Parshv     90    Male            1
0  Priyang     98    Male            1
2   Krisha     99  Female            0
6  Archana     99  Female            0

### display name and marks of the female students --> using isin method

In [51]:
print(df[(df["Gender"] == "Female")][["Name","Marks"]])

print("------using isin method : \n", df[df["Gender"].isin(["Female"])][["Name","Marks"]])

      Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99
------using isin method :
       Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99